! Xft.dpi: 168
Xft.dpi: 144

XTerm*utf8: 1
XTerm*SaveLines: 9000
XTerm.termName: xterm-256color

XTerm.vt100.translations: #override \n\
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Terminal colors

XTerm*faceName: Bitstream Vera Serif Mono
xterm*faceSize: 10
! XTerm*font: -*-terminus-medium-*-*-*-18-*-*-*-*-*-iso10646-1


! special
*.foreground:   #EBD1B7 
*.background:   #3b3228
*.cursorColor:  #d0c8c6

*.HiForeColor:  #d17b49
*.HiBackColor:  #3b3228

! black
*.color0:       #3b3228
*.color8:       #7e705a

! red
*.color1:       #d17b49
*.color9:       #d17b49

! green
*.color2:       #beb55b
*.color10:      #beb55b

! yellow
*.color3:       #f4bc87
*.color11:      #FFCC99

! blue
*.color4:       #8ab3b5
*.color12:      #8ab3b5

! magenta
*.color5:       #a89bb9
*.color13:      #a89bb9

! cyan
*.color6:       #7bbda4
*.color14:      #7bbda4

! white
*.color7:       #d0c8c6
*.color15:      #f5eeeb